<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Atsuya Okazaki</string>
	<key>Builder Version</key>
	<string>10600.5.17</string>
	<key>CFBundleDisplayName</key>
	<string>Xcode style for mbed</string>
	<key>CFBundleIdentifier</key>
	<string>com.geodenx.safari.mbedXcode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>fontcolor.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://mbed.org/compiler/</string>
			<string>http://mbed.org/compiler/</string>
			<string>https://developer.mbed.org/compiler/</string>
			<string>http://developer.mbed.org/compiler/</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Xcode-like appearance for mbed Compiler</string>
	<key>DeveloperIdentifier</key>
	<string>R94KT98Z66</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>mbed.org</string>
				<string>developer.mbed.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/geodenx/mbedXcode/raw/master/manifest.plist</string>
	<key>Website</key>
	<string>http://mbed.org/users/geodenx/notebook/safari/</string>
</dict>
</plist>
